<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="scripts/angular-material.min.css">
</head>
<body>
    <div class="wrapper" layout="column">

        <!-- Header -->
        <md-toolbar layout="row" class="md-toolbar-tools">
            <h1>Book App - my first app on Angular 1</h1>
        </md-toolbar>

        <div flex layout="row">

            <!-- Side menu -->
            <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
                <div ng-controller="NavController"> <!-- ng-controller NEED for working functions! -->
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="doSomething()" ng-class="{'active':getClass('/books')}">
                                <a href="#!books">List Books</a>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="doSomething()" ng-class="{'active':getClass('/book/add')}">
                                <a href="#!book/add">Add book</a>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </div>
            </md-sidenav>

            <!-- Dynamic Form directive -->
            <dynamic-form template="property.values.attributes" ng-model='stdFormData'></dynamic-form>
            <!-- Main content -->
            <div ng-controller="LocationController">
                <pre>$location.path() = {{$location.path()}}</pre>
                <book-tooltip someatrr templatename='tooltiptemplate'></book-tooltip>
            </div>
            <md-content flex id="content">
                <div>Status: {{ status }}</div>
                <div ng-view=""></div>
            </md-content>

        </div>
    </div>

    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="scripts/angular-1.4.7.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-aria.min.js"></script>
    <script src="scripts/angular-material.min.js"></script>

    <!-- App libs -->
    <script src="app.js"></script>
    <script src="app.config.js"></script>
    <script src="services/bookService.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="directives/bookInfo.directive.js"></script>
    <script src="directives/tooltip.js"></script>
    <script src="directives/dynamicForm.directive.js"></script>
</body>
</html>
